bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/refactorthis
/.vs/refactorthis/DesignTimeBuild
/.vs/refactorthis/DesignTimeBuild/.dtbcache.v2
/.vs/refactorthis/FileContentIndex
/.vs/refactorthis/FileContentIndex/28e8a413-a1e6-4226-87bd-712d7bee1cb5.vsidx
/.vs/refactorthis/FileContentIndex/92a7b84f-68d4-4c7e-9dd4-063675169181.vsidx
/.vs/refactorthis/FileContentIndex/d3437a57-16ed-4cb0-bae4-6a4bf231ef79.vsidx
/.vs/refactorthis/FileContentIndex/faff817d-0fd8-48eb-8207-fac681bf1429.vsidx
/.vs/refactorthis/FileContentIndex/read.lock
/.vs/refactorthis/v17
/.vs/refactorthis/v17/.suo
/.vs/refactorthis/v17/TestStore/0
/.vs/refactorthis/v17/TestStore/0/001.testlog
/.vs/refactorthis/v17/TestStore/0/testlog.manifest
