bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/refactorthis
/.vs/refactorthis/DesignTimeBuild
/.vs/refactorthis/DesignTimeBuild/.dtbcache.v2
/.vs/refactorthis/FileContentIndex
/.vs/refactorthis/FileContentIndex/0a2cb7db-91a8-4477-b991-32092c1c68fc.vsidx
/.vs/refactorthis/FileContentIndex/28e8a413-a1e6-4226-87bd-712d7bee1cb5.vsidx
/.vs/refactorthis/FileContentIndex/3572cb68-6308-40cc-9ca6-d8f03f256b66.vsidx
/.vs/refactorthis/FileContentIndex/b8f846d1-1da8-4527-ae39-49f94abaea87.vsidx
/.vs/refactorthis/FileContentIndex/read.lock
/.vs/refactorthis/v17
/.vs/refactorthis/v17/.suo
/.vs/refactorthis/v17/TestStore/0
/.vs/refactorthis/v17/TestStore/0/001.testlog
/.vs/refactorthis/v17/TestStore/0/testlog.manifest
/.vs/refactorthis/v17/.suo
/.vs/refactorthis/v17/TestStore/0/001.testlog
/.vs/refactorthis/v17/.suo
/.vs/refactorthis/v17/TestStore/0/001.testlog
/.vs/refactorthis/v17/TestStore/0/001.testlog
/.vs/refactorthis/v17/.suo
